* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes resultado {
    0% {border: none;}
    100% {border: 1px solid #fff;}
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(180deg, #5c2b4d, #493753);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    margin: 20px 0;
}

.area {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
}
.area .item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}
.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.item.t {
    border-top: 2px solid #FFF;
}
.item.l {
    border-left: 2px solid #FFF;
}
.item.r {
    border-right: 2px solid #FFF;
}
.item.b {
    border-bottom: 2px solid #FFF;
}

.infoitem {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}
.infoitemResult {
    padding: 10px;
    display: none;
    border: 1px solid #FFF;
    border-radius: 10px;
    font-size: 40px;
    animation-name: resultado;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.infotitulo {
    text-align: center;
    color: #FFF;
}
.infocorpo {
    text-align: center;
    color: #FFF;
    margin-left: 5px;
}

.reset {
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
}